<div class="explore-container">
  <div class="thread-list">

    @if (currentThreads.isLoading() && threadPreviews().length === 0) {
      <div class="loading-text">
        <p>Posztok betöltése...</p>
      </div>
    }


    @for (thread of threadPreviews(); track thread.threadId) {
      <div class="thread-card" (click)="goToThread(thread)">
        <div class="card-header">
          <span class="category-badge">{{ thread.categoryName }}</span>
          <span class="author">{{ thread.authorName }}</span>
        </div>

        <h2>{{ thread.title }}</h2>

        <p class="previewText">
          {{ thread.contentPreview }}
        </p>

        <div class="card-footer">
          <span class="date">{{ thread.createdAt | date:'yyyy. MMM dd.' }}</span>
        </div>
      </div>
    }
    @empty {
        @if (!currentThreads.isLoading()) {
          <div class="empty-state">
            <p>Még nincsenek posztok ebben a kategóriában.</p>
          </div>
        }
      }

      <div class="pagination-footer">
        @if (currentThreads.isLoading() && threadPreviews().length > 0) {
          <div class="loading-more">
            <p>További posztok betöltése...</p>
          </div>
        }

        @if (hasMore()) {
          <div #anchor class="scroll-anchor">
            @if (currentThreads.isLoading()) {
              <div class="spinner">Töltés...</div>
            }
          </div>
        } @else if (threadPreviews().length > 0) {
          <p class="end-message">Elérted a lista végét.</p>
        }
      </div>

  </div>
</div>
<app-create-thread-button/>
