<div class="explore-container">
  <div class="thread-list">

    @if (threads().length === 0) {
      <div class="loading-text">
        <p>Posztok betöltése...</p>
      </div>
    }


    @for (thread of threads(); track thread.threadId) {
      <div class="thread-card" (click)="onThreadClick(thread)">
        <div class="card-header">
          <span class="category-badge">{{ thread.categoryName }}</span>
          <span class="author">{{ thread.authorName }}</span>
        </div>

        <h2>{{ thread.title }}</h2>

        <p class="previewText">
          {{ thread.contentPreview }}
        </p>

        <div class="card-footer">
          <span class="date">{{ thread.createdAt | date:'yyyy. MMM dd.' }}</span>
        </div>
      </div>
    }
  </div>
</div>
