<div class="comments-container">
  <div class="comments-wrapper">

    <div class="comments-header">
      <h3 class="comments-title">Válaszok ({{ comments.value()?.length ?? 0 }})</h3>
    </div>

    <div class="comment-entry-area">
      <app-create-comment
        [threadId]="threadId()"
        (commentPosted)="comments.reload()">
      </app-create-comment>
    </div>

    @if (comments.isLoading()) {
      <div class="loading-state">
        <p>Válaszok betöltése...</p>
      </div>
    }

    @for (comment of comments.value(); track comment.postId) {
      <div class="comment-card">
        <div class="comment-header">
          <app-post-kebab-button [authorName]="comment.authorName" [postId]="comment.postId" [threadId]="threadId()" (deleted)="comments.reload()" (editStarted)="startEdit(comment.postId)"/>
          <div class="avatar">{{ comment.authorName.charAt(0).toUpperCase() }}</div>
          <div class="comment-author-info">
            <span class="comment-author-name">{{ comment.authorName }}</span>
            <span class="comment-date">{{ comment.createdAt | date:'yyyy. MMM dd. HH:mm' }}</span>
          </div>
        </div>

        <div class="comment-content">
          @if(editingPostId() === comment.postId)
          {
            <div class="edit-mode-container">
              <textarea #editInput class="edit-textarea">{{ comment.content }}</textarea>
              <div class="edit-actions">
                @if(!isEditing())
                {
                  <button class="cancel-btn" (click)="cancelEdit()">Mégse</button>
                }
                <button class="save-btn" (click)="saveEdit(this.threadId(),comment.postId, editInput.value)">Mentés</button>
              </div>
            </div>
          } @else {
            <p>{{ comment.content }}</p>
          }
        </div>
      </div>
    } @empty {
      @if (!comments.isLoading()) {
        <div class="no-comments">
          <p>Még nincsenek válaszok erre a posztra.</p>
          <p class="subtext">Légy te az első, aki kommentel!</p>
        </div>
      }
    }

  </div>
</div>
