:root {
  --primary-red: #d32f2f;
  --dark-bg: #121212;
  --lightdark-bg: #1e1e1e;
  --text-main: #ffffff;
  --text-dim: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #1e1e1e !important;
  border: 1px solid #2e69ff !important;
}

/* snackbar styles */
.mat-mdc-snack-bar-label {
  color: white !important;
}

.mat-mdc-snack-bar-action button {
  color: #2e69ff !important;
}

/* Modals styles */
cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
}

.cdk-global-overlay-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
